In [73]:
import pandas as pd
import numpy as np
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [36]:
# df = pd.read_fwf('letterCG.bin',widths=None)

In [62]:
df=pd.read_csv('letterCG.csv', sep=' ')
df.head(3)

,Class,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,C,4,10,5,8,2,5,7,7,10,7,6,13,1,8,4,9
1,C,3,5,4,4,2,4,8,5,7,12,9,11,1,10,2,7
2,G,5,10,6,7,3,8,7,8,8,6,7,9,2,7,5,10

In [67]:
df.describe()

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
count,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000
mean,4.059642,7.025182,4.848244,5.288933,3.180915,6.169649,7.094102,5.947647,6.235255,8.084824,6.809808,10.737575,2.422797,8.616965,4.626243,8.893970
std,1.744379,3.327707,1.612338,2.156974,1.934883,1.296437,1.138498,1.268069,2.071898,2.059967,1.443088,2.022762,1.768471,1.081741,1.578873,1.397002
min,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000,3.000000,2.000000,1.000000,4.000000,2.000000,4.000000,0.000000,5.000000,2.000000,4.000000
25%,3.000000,5.000000,4.000000,4.000000,2.000000,5.000000,6.000000,5.000000,5.000000,6.000000,6.000000,9.000000,1.000000,8.000000,4.000000,8.000000
50%,4.000000,7.000000,5.000000,6.000000,3.000000,6.000000,7.000000,6.000000,6.000000,8.000000,7.000000,11.000000,2.000000,9.000000,4.000000,9.000000
75%,5.000000,9.000000,6.000000,7.000000,4.000000,7.000000,8.000000,7.000000,8.000000,9.000000,8.000000,12.000000,3.000000,9.000000,5.000000,10.000000
max,10.000000,15.000000,10.000000,9.000000,12.000000,11.000000,11.000000,10.000000,12.000000,13.000000,11.000000,15.000000,11.000000,13.000000,10.000000,14.000000

In [69]:
df.columns

Index(['Class', 'x-box', 'y-box', 'width', 'high', 'onpix', 'x-bar', 'y-bar',
       'x2bar', 'y2bar', 'xybar', 'x2ybr', 'xy2br', 'x-ege', 'xegvy', 'y-ege',
       'yegvx'],
      dtype='object')

In [74]:
features=['x-box', 'y-box', 'width', 'high', 'onpix', 'x-bar', 'y-bar',
       'x2bar', 'y2bar', 'xybar', 'x2ybr', 'xy2br', 'x-ege', 'xegvy', 'y-ege',
       'yegvx']
label=['Class']
X=df[features]
Y=df[label]
seed=100
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.20, random_state=seed)

In [90]:
ad=AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=1), n_estimators=30,
                      learning_rate=1.0, random_state=seed)

model=ad.fit(X_train,Y_train)
pred_val=model.predict(X_test)
accuracy=accuracy_score(Y_test,pred_val)
accuracy

C:\Users\bpeddi\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9271523178807947

#### Repeat step2 with max_depth set as 2.

In [95]:
ad=AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=2), n_estimators=30,
                      learning_rate=1.0, random_state=seed)

model=ad.fit(X_train,Y_train)
pred_val=model.predict(X_test)
accuracy=accuracy_score(Y_test,pred_val)
accuracy

C:\Users\bpeddi\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9801324503311258